/*#############################################################
Name: Dark Ritual
Date: 2006-11-06
Description: Tribal-style three column layout.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/
html, body{
  margin: 0;
  padding: 0;
}

html{
	background: #333 url(/images/bg.gif);
}

a {
  color: #682;
  text-decoration: none;
}

a:hover {color: #9A6;}

body {
	color: #333;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
}

p,ul {
	padding-bottom: 1em;
}

ul {margin-left: 1.2em;}

li {list-style: none;}
.main li {list-style-image: url(/images/li.gif);}

h1 {font-size: 1.2em;}

blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}

h1,h2,h3 {color: #994;}

form label, form input.submit_field{
  float: left;
  clear: left;
  margin: 5px 0;
}
form input, form textarea{
  float: left;
  border: 1px solid #000;
  padding: 2px;
  margin: 5px 0;
}
form input.text_field, form textarea {
  width: 200px;
}
form input.submit_field{
  margin-left: 120px;
}

/* misc */
.clearer {clear: both;}
.meta {font-size: 0.8em; color: #666;}
.left {float: left;}
.right {float: right;}

/* structure */
.container {
	font-size: 1.2em;
	background: #222;
	margin: 0 auto;
	width: 840px;
	padding: 12px;
}

/* header */
.header a {
	float: left;
	width: 640px;
	background: url(/images/header.jpg) no-repeat;
	font: normal 2.4em "Times Roman",times,serif;
	line-height: 150px;
	text-align: center;	
  color: #000;
  text-decoration: none;
}

/* structure */
.top {
	background: #222;
	color: #DDD;
	float: left;
	font: normal 1.4em Verdana;
	height: 50px;
	text-align: center;
	width: 639px;
}
.subnav {
	float: left;
	width: 160px;
}
.main {
  background: #fff;
	float: left;
	width: 460px;
	padding: 10px;
}
.main_right {
	float: right;
	width: 180px;
	color: #CCC;
	padding: 10px;
}

/* sub-navigation */
.subnav h1 {
	background: #222;
	color: #FFE;
	font: bold 1.1em Verdana,sans-serif;
	line-height: 24px;
	padding-left: 8px;
}
.subnav ul {margin: 0; padding: 0;}
.subnav li {
	border-bottom: 1px solid #696755;
	list-style: none;
}
.subnav li a {
	background: #89866F;	
	color: #111;
	display: block;
	padding: 8px 0 8px 12px;
	width: 148px;
	text-decoration: none;
}
.subnav li a:hover {
	background: #9C997C;
	color: #000;
}

/* footer */
.footer {
	background: url(/images/bgfooter.gif) repeat-x;
	color: #CCC;
	font-size: 0.9em;
	line-height: 39px;
	width: 100%;
	text-align: center;
}
.footer .left,.footer .right {padding: 0 16px;}
.footer a {color: #EEE;}
.footer a:hover {color: #FAFCB0;}