<div class="subnav">

	<ul>
		<li><a href="/members">Members</a></li>
		<li><a href="/recruitment">Recruitment</a></li>
		<li><a href="/raid-rules">Raid Rules</a></li>
		<li><a href="">DKP</a></li>
		<li><a href="">Videos</a></li>
	</ul>

	<h1>Forums</h1>
	<ul>
		<li><a href="">General</a></li>
		<li><a href="">Raiding</a></li>
	</ul>

	<h1>Class Forums</h1>
	<ul>
		<li><a href="">Warrior</a></li>
		<li><a href="">Druid</a></li>
		<li><a href="">Rogue</a></li>
		<li><a href="">Hunter</a></li>
		<li><a href="">Shaman</a></li>
		<li><a href="">Priest</a></li>
		<li><a href="">Paladin</a></li>
		<li><a href="">Death Knight</a></li>
	</ul>
</div>