<h1>Recruitment</h1>
<p>If you're interested in joining us please fill in your details below. One of us will get back to you in game within a few days. Please read through our raid rules first to see if we're the kind of guild you'd like to be a part of.</p>
<p>At the moment we're keeping the guild small enough to service only one 10 person raid team, and we only have space left for 1 healer. If you're a tank or dps, you can still apply, but we won't be likely to have space for you until we are farming Naxxramas 10 man.</p>
<?if($recruitment_message):?><blockquote><?=$recruitment_message?></blockquote><?endif?>
<?=$rec_form->render()?>